
.footer {
    padding: 20px 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkgray;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}


.footer-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: medium;
}


.footer-info  {
    display: flex;
    justify-content: center;
}

.footer-left, .footer-center, .footer-right {
    font-size: small;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 30%;
}

.footername, .footer-email, .footer-number {
    margin-bottom: 10px;
}

.footer-name{
    text-align: start;
}

.footer-email, .footer-terms {
    text-align: center;
}

.footer-number, .footer-contact {
    text-align: end;
}

.footer-date {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-seperator {
    flex-grow: 1;
    border: none;
    height: 1px;
    background-color: black;
    width: 100%;
}

.footer-name {
    display: flex;
    justify-content: center;
}

.footer-name {
    text-transform: uppercase;
    margin: 0px 20px;
}
.footer hr{
    background-color: #cccccc;
}
