body{
    background-color: whitesmoke;
}

.container{
    margin: 5%;
}

.center{
    display: flex;
    align-items: center;
}

#cont1{
    font-size: 50px;
    margin: 20px;
}

#cont2{
    font-size: 20px;
    margin: 20px;
}

.URLForm{
    background-color: cadetblue;
    border-radius: 5px;
    padding: 20px;
}

.URLForm label{
    display: block;
    text-align:center;
    line-height:150%;
    font-size:20px;
}

.URLForm span{
    display:block;
    text-align: center;
}

.URLForm input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.URLForm input[type=submit] {
    width: 100%;
    background-color: darkslateblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.URLForm input[type=submit]:hover {
    background-color: gray;
}

.button{
    background-color: cadetblue;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 1;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    width: 30%;
    border-radius: 4px;
}
.button:hover {opacity: 0.6}


.container3{
    position: relative;
    background-color: cadetblue;
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin: 80px 0px;
}
.container3 button{
    display: block;
    position: absolute;
    left: 45%;
    bottom: 15%;
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
}

.success:hover {
    background-color: cadetblue;
    color: white;
}